<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/static/home.css"> 

</head>
<body >
    <video autoplay muted loop plays-inline class="my-video">
        <source src="/templates/videos/car.mp4" type="video/mp4">

    </video>

    <div class="home">
        <a href=""><img src="/static/images/Cablogo1.png" style="height:60px; width: 60px; border-radius: 20px;"></a>
        
        <div style="position:absolute; top: 0; right: 220px; width: 100px; text-align:right;">
            <a href="cabsignup.html" style="text-decoration: none;">SignUp</a>
        </div>
         
        <div style="position:absolute; top: 0; right: 130px; width: 100px; text-align:right;">
            <a href="cabsignin.html" style="text-decoration: none;">Login</a>
        </div>
        
        <div style="position:absolute; top: 0; right: 20px; width: 100px; text-align:center;">
            <a href="cabbook.html" style="text-decoration: none;">Booking</a>
        </div>
    </div>
    <div class="one"> Cab Booking</div>

    </div>
    <footer class="container-fluid bg-yellow text-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4><a href=""><span style="color: blue;">Welcome</span></a></h4>
                    <p>Welcome to the car world. Here you can book the car of your desire.
                        You can decide where the cab should arrive.
                        The time at which you wish the cab to pick you up can be also specified.</p>
                </div>
  
                <div class="col-sm-4">
                    <h4> <a href="contact.html"><span style="color: blue;"> Contact Us</span> </a></h4>
                    <p>Phone: 
                        <a class="nav-link" href="tel:+919658745855">+919658745855</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4><a href=""><span style="color: blue;">About Us</span></a></h4>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>