<!DOCTYPE html>

<head>
    <style>
        body {
            background-image: url('/static/images/taxi3.jpg');
        }
    </style>
</head>

<body>
    {{>navbar}}
    {{!-- <div class="one"> Cab Booking</div> --}}
    <footer class="container-fluid bg-yellow text-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4><a href=""><span style="color: rgb(36, 39, 216);">Welcome</span></a></h4>
                    <p>Welcome to the car world. Here you can book the car of your desire.
                        You can decide where the cab should arrive.
                        The time at which you wish the cab to pick you up can be also specified.</p>
                </div>

                <div class="col-sm-4">
                    <h4> <a href="contact.html"><span style="color: rgb(44, 24, 217);"> Contact Us</span> </a></h4>
                    <p>Phone:
                        <a class="nav-link" href="tel:+919658745855">+919658745855</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4><a href=""><span style="color: rgb(46, 13, 212);">About Us</span></a></h4>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>