<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{>navbar3}}

    <form>
        <div class="col-sm-6 offset-sm-4">
            <h1 style="background:rgb(190, 190, 200);width:fit-content;border-radius:20px;">Data Base Details</h1>
            <div class="col-sm-6 offset-sm-1" style="font-size: 30px;">
                <tr>
                    <td><label for="user"><a href="userdetail" style="text-decoration: none;color:rgb(105, 85, 85)">
                                User DataBase</a></label>
                    </td>
                </tr>
                <pre></pre>
                <tr>
                    <td><label for="user"><a href="driverdetail" style="text-decoration: none;color:rgb(105, 85, 85)">
                                Driver
                                DataBase</a></label>
                    </td>
                </tr>
                <pre></pre>
                <tr>
                    <td><label for="user"><a href="admincabdetail" style="text-decoration: none;color:rgb(105, 85, 85)">
                                Cab
                                DataBase</a></label>
                    </td>
                </tr>
                <pre></pre>
                <tr>
                    <td><label for="user"><a href="adminbookingdetail"
                                style="text-decoration: none;color:rgb(105, 85, 85)"> Booking
                                DataBase</a></label></td>
                </tr>
            </div>
        </div>
    </form>


</body>

</html>